.xmts .page_container{
margin-top:0px;}

.xmts .zhxw-list li{
height:32px;
line-height:32px;
border-bottom:0px;}

.mts1{
    margin-bottom: 0px;
    padding-bottom: 0px;}

.xmts .more{
margin-top:-8px;}