#m4c_right{
 height:50px;
 float:left;
 margin-top:25px;
}
#m4cr_cnt{
 padding:0;
 float:left;
}
ul,ul li{ list-style:none;} 
.showpic_ul li{
 float:left;
 margin-right:15px;
}
.showpic_ul li span{
 color:#333;
 font-family: "Microsoft YaHei";
 font-size:13px;
}
.showpic{ position:relative; z-index:0;}
.showpic:hover{ background-color:transparent; z-index:50; }
.showpic span{ position:absolute;top:-220px;left:-80px;visibility:hidden; text-decoration:none;}
.showpic span img{ border-width:0;}
.showpic:hover span{ visibility:visible; top:-220px; left:-80px; }

#m4cr_cnt ul li .wx:link,.wx:visited{ display:block; width:50px; height:50px; background:url(../images/ydwx.png);}
#m4cr_cnt ul li .wb:link,.wb:visited{ display:block; width:50px; height:50px; background:url(../images/ydwb.png);}
#m4cr_cnt ul li .wx:hover{background:url(../images/ydwx2.png);}
#m4cr_cnt ul li .wb:hover{background:url(../images/ydwb2.png);}